*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  font-family: Roboto;
  letter-spacing: .11rem;
  background: rgb(252, 246, 237);
  font-size: 0.875rem;
  scroll-behavior: smooth;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Homepage Parallax BG */
#home-parallax {
  background: url('../images/shop-counter.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 135%;
}
  #home-parallax-2 {
    background: url('../images/barista.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 80%;
  }

/* Navbar */
  nav {
   background:rgba(0, 0, 0, 0.719);
   color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 0.75rem;
  }
  .nav-active {
    background:  rgb(252, 246, 237);
    color: #333;
  }
  
  nav h1 {
    text-transform: uppercase;
  }
  nav ul {
    display: flex;

  }
  nav ul li a{
    padding: 1.5rem;
    text-transform: uppercase;
  }

  nav ul li a:hover{
    background:  rgb(252, 246, 237);
    color: #333;

   
  }
  nav h1 a:hover {
    color: rgb(252, 246, 237);
  }
  /* Home Page */
  
  /* Header Text */
  .header-text h2 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #f4f4f4;
    text-align: center;
    background: rgba(0, 0, 0, 0.719);
    width: 400px;
    margin: auto;
    padding: 1rem;
    margin-top: 320px;
    border: 3px solid #f4f4f4;
    
  }
  /* Section: Content Text */
  #content {
    background: rgb(252, 246, 237)
    
  }
  #content h2{
    padding: 150px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
  }
  /* Section: Gallery */
  #gallery {
    display: flex;
    flex-wrap: wrap;
    background: rgb(252, 246, 237);
    text-align: center;
    padding-left: 2.5rem;
  }
  #gallery>div {flex:1;padding-right:2.5rem;}
  
  .coffee-img-1 {
    width: 100%;
    min-width: 500px;
    margin-top: 2rem;
    height: auto;
  }
  .coffee-img-1, .coffee-img-3 {
    margin-bottom: 2rem;
  }
  .coffee-img-2,
  .coffee-img-3 {
    min-width: 400px;
    width: 100%;
    flex:1;
    object-fit:cover;
    margin-top:2rem;
  }
  
  .column {
    display:flex;
    flex-direction:column;
    flex: 50%;
  }
  
  #gallery img:hover {
    animation-name: opacity-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes opacity-hover {
    100% {
      opacity: 0.9;
    }
  }
  
  /* Footer */
  footer {
    background: black;
    color: #fff;
    /* height: 50%; */
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
   padding: 3rem;
   text-transform: uppercase;
  }
  footer ul li {
    margin: 1rem;
  }
  footer ul li a:hover{
    color:rgb(252, 246, 237);
  }
  footer a {
    text-decoration: underline;
  }
  .mail-link {
    padding-top: 1rem;
    text-transform: lowercase;
  }
  .instagram-icon {
    padding-top: 1rem;
  }
  /* Sign up Form */
  footer form{
    padding: 3rem;
    text-transform: uppercase;
    align-self: flex-start;
    margin: auto;
  }
  footer form h3{
    margin-bottom: 1.5rem;
    font-size: 0.80rem;
  }
  footer form input{
    min-width: 65%;
    padding: 0.75rem;
    font-size: 0.75rem;
  
  }
  footer form button{
    padding: 0.75rem 1.3rem;
    border: 1px solid #fff;
    background: #000000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.75rem;
    margin-top: 1rem;
  }
  footer form button:hover{
    background:  rgb(252, 246, 237);
    color: #333;
  }
  footer form input:focus, footer form button:focus{
    outline: none;
  }
 .copyright-p{ 
  align-self: flex-end;
  font-size: 0.75rem;
  padding: 2rem;
  color: #999999;
  display: block;
}

/* About Page */
#about .about-text {
  /* border: 1px solid red; */
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
#about .about-text h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
  
}
#about .about-text p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: rgba(66, 66, 66, 0.89);
}
 #about .about-img img{
  height: auto;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  }

#about{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-bottom: 4rem;
}


/* Locations Page */
/* Locations Parallax Backgrounds */

#locations-parallax{
  background: url('../images/wahi.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 110%;
}
#locations-parallax-2 {
  background: url('../images/harlem.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 100%;
}
#locations-parallax-3 {
  background: url('../images/greenwich.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 100%;
}

.wahi-map iframe, .greenwich-map iframe, .harlem-map iframe {
  max-width: 100%;
}




/* Location Header Text */
.locations-header-text {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  margin-top: 340px;
  font-weight: 600;
}
.locations-header-text a{
  border-bottom: 1px solid #fff;
}
.locations-header-text a:hover{
  animation-name: header-text-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes header-text-hover {
  100% {
   opacity: 0.7;
   border-bottom-color: rgba(133, 133, 133, 0.3)
  }
}
  /* Section: WAHI Content */
  .locations-content{
    background: rgb(252, 246, 237);
    text-align: center;
    font-weight: 800;
  }

  .locations-content h2 {
    padding: 2rem;
    padding-top: 8rem;
    font-size: 3rem;
    font-weight: 800;
  }

  .content-padding h3{
    padding: 0.75rem;
    
  }
  .map-margin{
    margin: 8rem;
  }



/* Meqia Queries */
@media screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}
@media screen and (max-height: 500px) and (orientation: landscape) {
  .header-text h2 {
    margin-top: 200px;
  }
  /* Location Page Media Query */
  .locations-header-text {
    margin-top: 150px;
    font-size: 3rem;
  }
}
  /* Home Page Media Queries */

    /* Mobile Side Nav */
@media (min-width: 611px) {
  .side-nav, .open-slide {
    display: none;
    
  }
}


@media (max-width: 610px) {
#main {
  transition: all .4s ease;
}


 header nav ul{
   display: none;
 }

 .side-nav {

  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  background:rgba(0, 0, 0, 0.9);
  transition: all 0.4s ease;
  color: #f4f4f4;
  font-weight: bold;

}

.btn-close {
  position: absolute;
  top: 0;
  font-size: 2rem !important;
  transition: all .3s ease;
  border: none !important;
}
.side-nav a {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  font-size: 1rem;
  display: block;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
}


  .header-text h2 {
    width: 300px;
  }
  #content h2{
    font-size: 1.5rem;
    padding: 50px;
  }
  .coffee-img-1 {
   display: none;
  }
  .coffee-img-2, .coffee-img-3{
   display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer form {
   position: relative;
   bottom: 40px
  }

/* Locations Page Media Queries */
  .locations-header-text {
    font-size: 1.5rem;
    margin-top: 250px;
  }

  .harlem-address h2, .wahi-address h2, .greenwich-address h2 {
    font-size: 2rem;
  }
  .harlem-address h3, .wahi-address h3, .greenwich-address h3 {
    font-size: .90rem;
  }

  @media screen and (max-width: 510px) {
    .wahi-map, .harlem-map, .greenwich-map {
      display: none;
    }
    .wahi-address h3:last-child, .greenwich-address h3:last-child, .harlem-address h3:last-child {
      padding-bottom: 5rem;
    }
  }

  @media screen and (max-height: 340px) and (orientation: landscape) {
    .locations-header-text {
      margin-top: 50px;
    }
  }

  /* Services Media Queries */
  @media screen and (max-width: 664px) {
    .services-boxes-container {
      flex-direction: column;
    }
  }
  /* Contact Media Queries */
  @media screen and (max-width: 425px) {
    #contact-container form input, #contact-container form textarea {
      width: 150px;
     }
     .contact-form-container {
       width: 200px;
     }
  }

}


/* Services Page */
  .coffee-training-text, .coffee-catering-text, .coffee-repairs-text {
    max-width: 350px;
  }
  .coffee-training-text h3, .coffee-catering-text h3, .coffee-repairs-text h3 {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .coffee-training-text p, .coffee-catering-text p, .coffee-repairs-text p {
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .services-boxes-container{
    display: flex;
    margin-bottom: 8rem;
  }
 .services-boxes {
   padding: 2rem;
   margin: auto;
 }
 .services-header-text {
   text-align: center;
   margin-top: 8rem;
   
 }
 .services-header-text h2 {
   padding-bottom: 6rem;
   font-size: 3rem;
   font-weight: bolder;
 }
 .services-header-text h3 {
   font-size: 1.5rem;
   font-weight: bold;
 }
  main img {
  height: auto;
  width: 100%;
  max-width: 350px;
  }

  .services-boxes-btn{
    padding: 1rem 1.3rem;
    border: 1px solid #fff;
    background: #000000;
    color: white;
    font-size: 0.75rem;
    margin-top: 3rem;
    text-align: center;
    
  }
  .services-boxes-btn:hover {
    animation-name: services-button-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
  @keyframes services-button-hover{
    100% {
      background: #0000009c;
  }
    }
  

  .btn-container {
    text-align: center;
  }

  /* Contact Page */

  /* Contact Parallax BG */
  .contact-form-container {
    width: 300px;
    margin: auto;
    padding: 4rem;
  }
  #contact-parallax {
    background: url('../images/espresso-machine.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 60%;
  }

  #contact-container form h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 3rem;
    text-align: justify;
  }

  #contact-container form label {
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: bolder;
  }
  
  #contact-container form label, #contact-container form button {
    display: block;
  
  }
  #contact-container form input {
   width: 250px;
   margin-bottom: 2rem;
   padding: 0.80rem;
   font-size: 1rem;
  }
  #contact-container form textarea {
    width: 250px;
    font-size: 1rem;
  }

  #contact-container form button {
    padding: 1rem 1.7rem;
    border: 1px solid #fff;
    background: #000000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.5rem;
  }
 
 #contact-container button:hover {
    animation-name: contact-button-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
  @keyframes contact-button-hover{
    100% {
      background: #0000009c;
  }
    }

    /* Catering Contact Form */

    .catering-form-container {
      width: 700px;
      max-width: 100%;
      margin: auto;
      padding: 4rem;
    }

    .catering-form-container h2 {
      padding-bottom: 4rem;
      text-align: center;
      font-weight: bolder;
      font-size: 3rem;
    }
    
    .catering-form-container p {
      font-size: 1rem; 
      line-height: 1.5;
      text-align: center;
      padding-bottom: 4rem;
    }

    .catering-form-container h3 {
      text-align: center;
      font-size: 1.7rem;
      font-weight: bolder;
      padding: 4rem;
    }
   
    .catering-form-container label {
      display: block;
      padding-bottom: 1rem;
      font-size: 1rem;
    }
  
    .catering-form-container img {
      text-align: center;
      height: auto;
      max-width: 800px;
      width: 100%;
      padding-bottom: 2rem;
    }

    .catering-form-container input {
      width: 100%;
      margin-bottom: 2rem;
      padding: 0.7rem;
      font-size: 1rem;
      background: #fafafa;
      border: 1px solid #ccc;
    }
    .catering-form-container select {
      margin-bottom: 2rem;
      font-size: 1rem;
    }

    .event-location-section {
      margin-bottom: 0rem;
    }
    

    .catering-form-container textarea {
      width: 100%;
      font-size: 1rem;
    }

    .catering-form-container input:focus {
      outline: none;
      background: #fff;
    }

    #phone, #zipcode {
      width: 50%;
    }

    .caption {
      font-size: 0.75rem;
     
    }


    .catering-form-container button {
      padding: 1rem 1.7rem;
      border: 1px solid #fff;
      background: #000000;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1.5rem;
      display: block;
    }

    .catering-form-container button:hover {
      animation-name: form-button-hover;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
    @keyframes form-button-hover{
      100% {
        background: #0000009c;
    }
      }

/* Work Page */

  #work-main {
    text-align: center;
    margin: 4rem;
  }
  #work-main h2 {
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 4rem;
  }
  #work-main p {
    font-size: 1rem;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
  }
 #work-main img{
  padding: 3rem 0 3rem 0;
  max-width: 100%;
  width: 600px;
  margin: auto;
  display: block;
  height: auto;
 }
 .work-form-container{
   width: 600px;
   text-align: left;
   margin: auto;
   max-width: 100%;
   
 }
 .work-form-container label {
   display: block;
   font-size: 1rem;
   padding-bottom: 1rem;
 }
 .work-form-container label::after {
   content: '*'
 }
 .work-form-container input {
   width: 80%;
   padding: 0.70rem;
   margin-bottom: 2rem;
 }
 
 .work-form-container textarea {
   width: 80%;
 }
 .work-form-container button {
  padding: 1rem 1.7rem;
  border: 1px solid #fff;
  background: #000000;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
  display: block;
}
.work-form-container button:hover {
  animation-name: work-button-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes work-button-hover{
  100% {
    background: #0000009c;
}
  }
