*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  font-family: Roboto;
  letter-spacing: .11rem;
  background: rgb(252, 246, 237);
  font-size: 0.875rem;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Homepage Parallax BG */
#parallax {
  background: url('/images/shop-counter.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 135%;
}
/* Homepage Parallax BG-2 */
  #parallax-2 {
    background: url('/images/barista.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 80%;
  }

/* Navbar */
  nav {
   background:rgba(0, 0, 0, 0.719);
   color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 0.75rem;
  }
  .nav-active {
    background:  rgb(252, 246, 237);
    color: #333;
  }
  
  nav h1 {
    text-transform: uppercase;
  }
  nav ul {
    display: flex;

  }
  nav ul li a{
    padding: 1.5rem;
    text-transform: uppercase;
  }

  nav ul li a:hover{
    background:  rgb(252, 246, 237);
    color: #333;

   
  }
  nav h1 a:hover {
    color: rgb(252, 246, 237);
  }
  /* Home Page */
  
  /* Header Text */
  .header-text h2 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #f4f4f4;
    text-align: center;
    background: rgba(0, 0, 0, 0.719);
    width: 400px;
    margin: auto;
    padding: 1rem;
    margin-top: 320px;
    border: 3px solid #f4f4f4;
    
  }
  /* Section: Content Text */
  #content {
    background: rgb(252, 246, 237)
    
  }
  #content h2{
    padding: 150px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    /* letter-spacing: 1px; */
  }
  /* Section: Gallery */
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(252, 246, 237);
    text-align: center;
  }
  .coffee-img-1 {
    width: 600px;
    padding: 1.5rem;
    margin-right: 5rem;
    margin-top: 2rem;
  }
  
  
  .coffee-img-2, .coffee-img-3 {
    width: 650px;
    padding: 30px;
    
  }
  .column {
    flex: 50%;
    padding: 1.5rem; 
  }
  #gallery img:hover {
    animation-name: opacity-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
  }
  @keyframes opacity-hover {
    100% {
      opacity: 0.9;
    }
  }
  
  /* Footer */
  footer {
    background: black;
    color: #fff;
    /* height: 50%; */
    font-size: 0.85rem;
    display: flex;
    justify-content: space-between;
  }
  footer ul {
   padding: 3rem;
   text-transform: uppercase;
  }
  footer ul li {
    margin: 1rem;
  }
  footer ul li a:hover{
    color:rgb(252, 246, 237);
  }
  footer a {
    text-decoration: underline;
  }
  .mail-link {
    padding-top: 1rem;
    text-transform: lowercase;
  }
  .instagram-icon {
    padding-top: 1rem;
  }
  /* Sign up Form */
  form{
    padding: 3rem;
    text-transform: uppercase;
    align-self: flex-start;
    margin: auto;
  }
  form h3{
    margin-bottom: 2rem;
    font-size: 0.75rem;
  }
  form input{
    width: 65%;
    padding: 0.75rem;
    font-size: 0.75rem;
  
  }
  form button{
    padding: 0.75rem 1.3rem;
    border: 1px solid #fff;
    background: #000000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.75rem;
  }
  form button:hover{
    background:  rgb(252, 246, 237);
    color: #333;
  }
  form input:focus, form button:focus{
    outline: none;
  }
footer p{ 
  align-self: flex-end;
  font-size: 0.75rem;
  padding: 2rem;
  color: #999999;
}

/* About Page */
